extends ../_layout.pug

block content
    p Number of questions:  #{quizz.question_number}
    p Subject: #{quizz.subject}
    p aaaa: #{quizz}
    //- each q in quizz.questions
    //-         p #{q.question}