extends ../_layout.pug

block content
    h1 Register
    form(method='POST')
        .form-group
            label Username
            input.form-control(name='username', type='text', required)
        .form-group
            label Password
            input.form-control(name='password', type='password')
        .form-group
            label email
            input.form-control(name='email', type='email')
        .form-group
            label roles
            input.form-control(name='roles', type='text')
        .form-group
            input.btn.btn-primary(type='submit', value='Register')